In [26]:
import pandas as pd
import numpy as np

In [73]:
#read table from wikipedia and create pandas dataframe
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
table = (table[0].head(180))
df = pd.DataFrame(table)
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [78]:
#remove "Not Assigned" from table and reset index
df = df[df.Borough != "Not assigned"]
df.sort_values(by=['Postal Code'])
df = df.reset_index(drop=True)
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [79]:
#number of rows and columns of df
df.shape

(103, 3)